/* сброс стилей по умолчанию */
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*::after {
    box-sizing: border-box;
}
nav, footer, header, aside, a {
    display: block;
}
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea {
    font-family: inherit;
}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited {text-decoration: none;
    color: #2E2F22;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;} 

/* установка базовых стилей и настроек для всей страницы */

.body {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    gap: 80px;
}
.container {
    max-width: 1200px;
    margin: auto auto auto auto;
    color: #2E2F22;
}
.hidden-text {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    white-space: nowrap;
    border: 0;
}
/* header style  */
.header-cover {
    position: relative;
} 
.header-cover__photo {
    width: 100%;
    position: absolute;
    z-index: 1;
} 
.container--cover-height {
    min-height: 565px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}
.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    font-size: 18px;
}
.nav__link {
    padding: 10px;
}
/* универсальны элементы */

.tittle {
    font-family: 'Spectral SC', serif;
    font-size: 36px;
}
.button {
    width: 224px;
    height: 46px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 1px solid #202117;
    background-color: inherit;
    align-self: center;
    border-radius: 10px;
}

/* posted style  */

.posted-wrap {
    padding-top: 40px;
}
.posted {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.posted__header {
    display: flex;
    justify-content: space-between;
}
.posted__tittle {
    align-self: center;
}
.tags {
    width: 230px;
    height: 46px;
    background-color: #D7D1C9;
    border-radius: 10px;
    padding-left: 10px;
}
.articles {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.articles__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.article__img {
    border-radius: 15px;
    width: 387px;
    height: 268px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.article__link {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.article__tittle {
    font-family: 'Spectral SC', serif;
    font-size: 18px;
}
.tag-block {
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
}
.article-big__link {
    display: flex;
    flex-direction: column;
    position: relative;
}
.article-big__img {
    border-radius: 15px;
    height: 552px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.article-big__content {
    position: absolute;
    width: 70%;
    bottom: 15%;
    left: 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.article-big__tittle {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Spectral SC', serif;
}
.article-big__text {
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 28px;
}
.article-big__down {
    color: rgb(255, 255, 255);
}
.posted__button {
    margin-top: 100px;
}

/* about style  */

.about-wrap {
    padding-top: 85px;
}
.about {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about__tittle {
    align-self: center;
}
.about__content {
    display: flex;
    gap: 25px;
}
.about__img {
    border-radius: 15px;
}
.about__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about__story {
    padding: 25px 25px;
}
.about__p {
    margin-top: 25px;
}
.about__cite {
    font-size: 30px;
    font-style: italic;
    padding: 40px 0px 40px 25px;
    border-left: 3px solid #D7D1C9;
    line-height: 40px;
}

/* portfolio style  */
.portfolio-wrap {
    padding-top: 85px;
}
.portfolio {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.portfolio__tittle {
    align-self: center;
}
.portfolio__exemples {
    display: flex;
    gap: 20px;
}
.exemple__link {
    position: relative;
}
.exemple__img {
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.exemple__content {
    position: absolute;
    top: 25%;
    left: 4%;
    max-width: 92%;
    min-height: 50%;
    height: auto;    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.exemple__name {
    font-family: 'Spectral SC', serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}
.exemple__tittle {
    font-family: 'Spectral SC', serif;
    font-size: 18px;
    margin-top: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.exemple__name--color,
.exemple__tittle--color,
.exemple__preview--color {
    color: #fff; 
}
.portfolio__button {
    margin-top: 100px;
}

/* contact style  */

.contact-wrap {
    padding-top: 85px;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 996px;
    position: relative;
    margin: auto;
}
.contact__tittle {
    align-self: center;
}
.contact__img {
    border-radius: 15px;
}
.contact__form,
.contact__form-top,
.contact__form-left,
.contact__form-right {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.contact__form {
    flex-direction: column;
    position: absolute;
    width: 84%;
    height: 75%;
    left: 8%;
    bottom: 5%;
}
.contact__form-left,
.contact__form-right {
    flex-direction: column;
}
.contact__input-label {
    font-family: 'Spectral SC', serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}
.contact__input {
    width: 407px;
    height: 63px;
}
.contact__input-text,
.contact__input {
    background-color: rgba(255, 255, 255, 0.4);
    color: #202117;
    border: 1px solid #202117;
    border-radius: 10px;
    padding: 10px;
}

/* footer style  */

.footer {
    background-color: #D7D1C9;
}
.footer-block {
    display: flex;
    height: 181px;
    justify-content: center;
    align-items: center;
}
.social-list {
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-size: 18px;
}
.social-list__link {
    padding: 10px;
}

/* page-link style */

.section-wrap {
    padding-top: 85px;
}
.content {
    max-width: 998px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.content__header {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.content__tags {
    justify-content: start;
    gap: 30px;
}
.content__main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 26px;
    font-size: 16px;
}
.content__figcaption {
    margin-top: 10px;
    font-size: 14px;
}
.content__text {
    padding-right: 30px;
}
.content__text--padding {
    padding-right: 100px;
}
.content__footer-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.like {
    display: flex;
    gap: 14px;
    align-items: flex-end;
    font-size: 32px;
}
.like-good {
    filter: drop-shadow(0 0 3px rgb(29, 189, 8))
}
.content__social {
    display: flex;
    gap: 32px;
    align-items: flex-end;
}
.link-back {
    display: flex;
}
.link-back__link {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}
.link-back__img {
    padding-top: 10px;
}
.link-back__text {
    font-size: 36px;
    font-weight: bold;
}
/* likes-comment  */
.comments-wrap {
    max-width: 793px;
    display: flex;
    flex-direction: column;
}
.comments__list {
    display: flex;
    flex-direction: column;
    background-color: #ECE1E1;
    border-radius: 10px;
    justify-content: space-around;
    gap: 40px;
    padding: 40px 10px 40px 100px;
    margin-bottom: 80px;
}
.comment {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.comment__header {
    display: flex;
    align-items: center;
    gap: 13px;
}
.comment__img {
    border-radius: 10px;
}
.comment__user-name {
    font-weight: 700;
}
.comment-f {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-self: flex-end;
}
.comment-f__tittle {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-start;
}
.comment-f__form {
    display: flex;
    gap: 80px;
    align-self: start;
}
.comment-f__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comment-f__box {
    position: relative;
    width: 100%;
}
.comment-f__input {
    border-bottom: 1px solid #2E2F22;
    height: 46px;
    width: 224px;
    padding: 2px 5px 2px 5px;
}
.comment-f__text {
    border: 1px solid #2E2F22;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
}
.red-text {
    color: red;
}